
/* --------------------
 * TOP NAVIGATION
 * --------------------
 */
.topnav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1039;
    padding-left: 0;
    height: 56px;
}
.topnav a {
    color: #fff;
}
.topnav .dropdown-item {
    color: #000;
}
.topnav .navbar-brand {
    width: 225px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 1rem;
    margin: 0;
    height: 56px;
    text-align: center;
    background-color: #033769;
}
.topnav #sidebarToggle {
    color: rgba(255, 255, 255, 0.5);
}

/** -----------------
 * Sidebar Section
 * -------------------
 */
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    flex-basis: 225px;
    flex-shrink: 0;
    transition: transform 0.15s ease-in-out;
    transform: translateX(-225px);
    width: 225px;
    height: 100vh;
}
.nav-header {
    font-size: 10px;
    text-transform: uppercase;
    padding: .8rem;
    letter-spacing: 1px;
    color: #a6a6a6;
    font-weight: 500;
}
/**
 * SIDE NAVIGATION
 */
.sidenav {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-wrap: nowrap;
    background: #04519b;
}
.sidenav-toggled .sidebar {
    transform: translateX(0);
}
.sidenav-toggled .content:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #222d32;
    z-index: 1037;
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
}
.sidenav-menu {
    padding-top: 56px;
    overflow-y: auto;
}
.sidenav-menu {
    flex-grow: 1;
}
.sidenav-menu .nav {
    flex-direction: column;
    flex-wrap: nowrap;
}
.sidenav .nav-link {
    display: flex;
    align-items: center;
    padding-top: 1rem;
    padding-left: 15px;
    padding-bottom: 1rem;
    position: relative;
    color: #f8f9fa;
    width: 100%;
    font-size: 16px;
    border-top:1px solid #a6a6a6;
}
.sidenav .collapsed {
    border-top:0;
}
.nav-link:hover, .sidenav .nav-link.active {
    color: white;
}
.nav-link-icon {
    margin-right:12px;
    font-size: 16px;
    text-align: center;
    color: #f8f9fa;
}
/* end sub menu style*/
.sidenav .sidenav-menu .nav .nav-link .sidenav-collapse-arrow {
    display: inline-block;
    margin-left: auto;
    transition: transform 0.15s ease;
}
.sidenav .sidenav-menu .nav .nav-link.collapsed .sidenav-collapse-arrow {
    transform: rotate(-90deg);
}

/* Sub navigation */
.sidenav-menu-nested {
    padding-left: 25px;
    background: #1c1f22;
}
.sidenav-menu-nested a {
    border-left: 1px solid rgba(59, 70, 72, 0.5);
    padding-left: 20px;
    color: #a6a6a6;
}
.sidenav-menu-nested a::before {
    left: 0;
    top: 25px;
    width: 15px;
    content: ' ';
    position: absolute;
    display: inline-block;
    border: 1px solid rgba(59, 70, 72, 0.5);
}
.sidenav-menu-nested .nav-link {
    padding-bottom: .6rem;
}
.sidenav-menu-nested a:hover{
    background: none;
    color: #fff;
}

@media (min-width: 992px) {
    .mainContainer .sidebar {
        transform: translateX(0);
    }
    .mainContainer .content {
        margin-left: 0;
        transition: margin 0.15s ease-in-out;
    }
    .sidenav-toggled .sidebar {
        transform: translateX(-225px);
    }
    .sidenav-toggled .content {
        margin-left: -225px;
    }
    .sidenav-toggled .content:before {
        display: none;
    }
}

/*
 * Content Section
 */
.content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 0;
    flex-grow: 1;
    min-height: calc(100vh - 56px);
    margin-left: -225px;
    padding-left: 225px;
    top: 56px;
}
.breadcrumb {
    font-size: 22px;
    padding: 0.2rem 0.5rem;
    margin-bottom: 1rem;
}
.breadcrumb span {
    line-height: 3rem;

}
.breadcrumb i {
    line-height: 3rem;
    margin-right: 10px;
}
    /*
     * Footer
     */
.footer {
    padding: 0.8rem;
    flex-shrink: 0;
    background: #000;
}
footer {
    border-top:1px solid white;
    margin-top: 20px;
}

/**
 * MAIN DASHBOARD
 */

.shortcut-icon {
    height: 145px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 1px solid #0866C6;
    color: #0866C6;
    padding-top: 10px;
}
.shortcut-icon:hover {
    color: white;
    background-color: #0866C6;
}
.shortcut-icon > div {
    text-align: center;
}
.shortcut-icon i {
    line-height: 0;
    font-size: 64px;
}
.shortcut-icon span {
    display: block;
    margin-top: 5px;
}

/**
 * ERROR PAGES
 */
.error-div {
    min-height: 500px;
}
.error-page {
    width: 100%;
    min-width: 100%;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 0;
    border: 1px solid #ebedf2;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    padding-top: 100px;
    padding-bottom: 150px;
}
.error-page h1 {
    font-size: 120px;
    color:orangered;
}
.error-page h3 {
    font-size: 24px;
    font-weight: normal;
    font-family: "Arial Narrow";
    margin-bottom: 15px;
    font-style: italic;
}
.error-page h5 {
    font-size: 18px;
    font-weight: normal;
    font-family: "Nunito", sans-serif;
    margin-bottom: 15px;
}
.error-page h6 {
    font-size: 16px;
    font-weight: bold;
    font-family: "Nunito", sans-serif;
    margin-bottom: 10px;
    color: #0866C6;
}

/**
 * VOUCHER
 */
.voucher {

}
