html,body {
    position: relative; /* Allows the footer to notice content height */
    min-height: 100vh;
    margin: 0;
    font-size: 1.0625rem;
    font-weight: 400;
    line-height: 1.6;
    color: #161c2d;
    text-align: left;
    background-color: #fff;
}

/**
 * FORM STYLES
 */
.star { color: red; }
.form-control {
    border-radius: 0;
    border-bottom: 1px solid #0a0302;
}
.form-control:focus {
    box-shadow: none;
    border:1px solid black;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}
/* Hide the browser's default checkbox */
.label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
/* Labels Styling */
.label {
    display: block;
    position: relative;
    padding-left: 20px;
    margin-bottom: 25px;
    cursor: pointer;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 1rem;
}
/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
}
/* On mouse-over, add a grey background color */
.label:hover input ~ .checkmark {
    background-color:  #0866C6;
}
/* When the checkbox is checked, add a blue background */
.label input:checked ~ .checkmark {
    background-color: #0866C6;
}
/* On mouse-over, add a grey background color */
.label:hover input ~ .checkmark {
    background-color: #ccc;
}
/* When the checkbox is checked, add a blue background */
.label input:checked ~ .checkmark {
    background-color: #0866C6;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
/* Show the checkmark when checked */
.label input:checked ~ .checkmark:after {
    display: block;
}
/* Style the checkmark/indicator */
.label .checkmark:after {
    left: 5px;
    top: 5px;
    width:2px;
    height: 5px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*Custom Dropdown menu*/
.select2-container {
    box-sizing: border-box;
    display: block;
    margin: 0;
    position: relative;
    vertical-align: middle;
    width: 100%;
    border-radius: 0;
}
.alert {
    position: relative;
    padding: 0.75rem 0.9rem;
    border-radius: 0;
}
.select2-container--default .select2-selection--single{
    padding:0;
    height: 35px;
    font-size: 1.0em;
    width: 100%;
    display: block;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    /*background: white;*/
    border-radius: 0;
    color: white;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    display: block;
    padding-left: 8px;
    padding-right: 20px;
    padding-top: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/* ------------------
 * CARD STYLES
 * -------------------
 */
.card{
    width: 100%;
    min-width: 100%;
    background-color: #fff;
    background-clip: border-box;
    /*border: 0;*/
    border-radius: 0;
    /*box-shadow: none;*/
    border: 1px solid #ebedf2;
    /*border: 1px solid #c8c8d3;*/
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}
.card-header {
    border-radius: 0;
    background-color: #04519b;
}
.card-header:first-child {
    border-radius: 0;
}
.card-body {
    padding: 1.25rem 1.437rem;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    min-height:200px;
}
.card .card-title {
    color: #787878;
    margin-bottom: 1.6rem;
    text-transform: capitalize;
    font-size: .875rem;
    font-weight:bold;
}

/* ------------------
 * TABLE STYLES
 * -------------------
 */
.table thead th {
    font-size: .875rem;
    border-bottom: 1px solid #dee2e6;
}
.table .numCol {
    width: 1rem;
}
.table .actCol {
    width: 10%;
}
.status {
    padding: 0 7px 3px 7px;
    border-radius: 2px;
    font-weight: bold;
    top: 0;
}
table .del{
    display: block;
    width: 100%;
    padding: 0.25rem 0;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}


/**
 * BUTTON STYLES
 */

.btn { line-height: 1.6; border-radius: 0; }
.btn:focus,.btn:active{ box-shadow: none; }
.btn-group > .btn:not(:last-child):not(.dropdown-toggle), .btn-group > .btn-group:not(:last-child) > .btn {
    border-radius: 0;
}
.btn-group > .btn:not(:first-child), .btn-group > .btn-group:not(:first-child) > .btn {
    border-radius: 0;
}

/* Table Buttons */
.btn-edit {
    background: #04519b;
    border: 1px solid #04519b;
    border-radius: 0;
}
.btn-edit i { color: #fff; }
.btn-edit:hover {
    background: #0866C6;
    border: 1px solid #0866C6;
}

.btn-delete {
    background: #dc3545;
    border: 1px solid #dc3545;
    border-radius: 0;
}
.btn-delete i { color: #fff; }
.btn-delete:hover {
    background: #dc3545;
    border: 1px solid #dc3545;
}


.btn-primary {background:#04519b;border-color:#04519b; color: white;}
.btn-outline-primary {color: #04519b;border-color:#04519b;}
.btn-outline-primary:hover { background:#04519b;}

.btn-danger {border-color:#dc3545; background:#dc3545; color: white; }
.btn-outline-danger {color: #dc3545; border-color:#dc3545; }
.btn-outline-danger:hover { background:#dc3545; }

.btn-dark {border-color:black; background:black;color: white; }
.btn-outline-dark  {color: black; border-color:black; }
.btn-outline-dark:hover { background:black; }

.btn-success {border-color:#23BF08; background:#23BF08; }
.btn-outline-success {color: #23BF08; border-color:#23BF08; }
.btn-outline-success:hover { background:#23BF08; }


/**
 * BACKGROUND COLORS
 */
.bg-primary{background: #04519b; color: white;}
.bg-olive{border-color:#808000; background:#808000;}
.bg-blue { background: #044687;color:white; }
.bg-red {border-color:red; background:red; }
.bg-green {border-color:#23BF08; background:#23BF08; }
.bg-orange {border-color:orange; background:orange;}
.bg-purple {border-color:purple; background:purple; }
.bg-black {border-color:black; background: black; }
.bg-dark {border-color:#343a40;; background: #343a40;; }
.bg-pink {border-color:deeppink; background:deeppink; }
.bg-maroon {border-color:maroon; background:maroon; }
.bg-gray {border-color:gray; background:gray; }
.bg-chocolate {border-color:chocolate; background:chocolate;}
.bg-yellow{border-color:yellow; background:yellow; }
.bg-grayblue{border-color:#e9ecef; background:#e9ecef; }
.bg-slateblue{border-color:#6A5ACD; background:#6A5ACD; }
.bg-olive{border-color:#808000; background:#808000; }
.bg-steelblue{border-color:#4682B4; background:#4682B4; }

