
.login {
    margin-top: 50px;
}
.login .btn {
    font-size: 16px !important;
}
.login .left {
    border-radius:10px 0 0 10px;
    vertical-align: middle;
}
.login .left h4 {
    color: #04519b;
}

.logo{
    color:#fff;
    font-size:50px;
    line-height: 125px;
    padding: 0 0 0 10px;
}
.logo img {
    width:180px;
    height: 200px;
}
