/*------------ Company Profile ----------------*/
.company span {
    display: block;
    padding-top: 10px;
}
.company .title {
    color: #04519b;
    font-weight: bold;
    font-size: 16px;
}
.company .cnt {
    font-style: italic;
}
