@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

/* General Settings */
html,body {
    position: relative; /* Allows the footer to notice content height */
    min-height: 100vh;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
    background: #F5F7FF;
    color: #6C7383;
}
a { color: #010101; }
p { font-size: 14px !important; }

/* Form Styles */
.star {
    color: red;
}
/* FORM STYLES */
input {
    padding: 6px 12px 6px 12px;
    border: 1px solid lightgrey;
    border-radius: 4px;
    margin-bottom: 15px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 14px;
    letter-spacing: 1px;
    background-color: #ECEFF1
}

input:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #304FFE;
    outline-width: 0
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}
/* Hide the browser's default checkbox */
.label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
/* Labels Styling */
.label {
    display: block;
    position: relative;
    padding-left: 20px;
    margin-bottom: 25px;
    cursor: pointer;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 1rem;
}
/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
}
/* On mouse-over, add a grey background color */
.label:hover input ~ .checkmark {
    background-color:  #0866C6;
}
/* When the checkbox is checked, add a blue background */
.label input:checked ~ .checkmark {
    background-color: #0866C6;
}
/* On mouse-over, add a grey background color */
.label:hover input ~ .checkmark {
    background-color: #ccc;
}
/* When the checkbox is checked, add a blue background */
.label input:checked ~ .checkmark {
    background-color: #0866C6;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
/* Show the checkmark when checked */
.label input:checked ~ .checkmark:after {
    display: block;
}
/* Style the checkmark/indicator */
.label .checkmark:after {
    left: 5px;
    top: 5px;
    width:2px;
    height: 5px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
/*Custom Dropdown menu*/
.select2-container {
    box-sizing: border-box;
    display: block;
    margin: 0;
    position: relative;
    vertical-align: middle;
    width: 100%;
    border-radius: 0;
}
.alert {
    position: relative;
    padding: 0.75rem 0.9rem;
    border-radius: 0;
}
.select2-container--default .select2-selection--single{
    padding:0;
    height: 35px;
    font-size: 1.0em;
    width: 100%;
    display: block;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    /*background: white;*/
    border-radius: 0;
    color: white;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    display: block;
    padding-left: 8px;
    padding-right: 20px;
    padding-top: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}



/*------------ CARD STYLES --------*/
.card{
    width: 100%;
    min-width: 100%;
    background-color: #fff;
    border-radius:20px;
    padding: 30px;
    border:0;
}
.card-header  {
    background: #fff;
    border:0;
    font-weight: bold;
}
.card-header h4  {
    font-weight: bold;
    color: #04519b;
}
.card-header:first-child {
    border-radius:20px;
}
.card-body {
    padding: 1.25rem 1.437rem;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    min-height:200px;
}
.card .card-title {
    color: #787878;
    margin-bottom: 1.6rem;
    text-transform: capitalize;
    font-size: .875rem;
    font-weight:bold;
}

/*------------ TABLE STYLES  --------------*/
.table thead th {
    border-bottom:1px solid #CED4DA;
    border-top:0;
}




/*--------- BUTTON STYLES ------------*/
.btn:focus,.btn:active{
    box-shadow: none;
}
.btn-group > .btn:not(:last-child):not(.dropdown-toggle), .btn-group > .btn-group:not(:last-child) > .btn {
    border-radius: 0;
}
.btn-group > .btn:not(:first-child), .btn-group > .btn-group:not(:first-child) > .btn {
    border-radius: 0;
}


.btn-primary {background:#04519b;border-color:#04519b; color: white;}
.btn-outline-primary {color: #04519b;border-color:#04519b;}
.btn-outline-primary:hover { background:#04519b;}

.btn-danger {border-color:#dc3545; background:#dc3545; color: white; }
.btn-outline-danger {color: #dc3545; border-color:#dc3545; }
.btn-outline-danger:hover { background:#dc3545; }

.btn-dark {border-color:black; background:black;color: white; }
.btn-outline-dark  {color: black; border-color:black; }
.btn-outline-dark:hover { background:black; }

.btn-success {border-color:#23BF08; background:#23BF08; }
.btn-outline-success {color: #23BF08; border-color:#23BF08; }
.btn-outline-success:hover { background:#23BF08; }


/*--------- BACKGROUND COLORS ------------*/
.bg-primary{background:#04519b !important; color: white;}
.bg-olive{border-color:#808000; background:#808000;}
.bg-blue { background: #044687;color:white; }
.bg-red {border-color:red; background:red; }
.bg-green {border-color:#23BF08; background:#23BF08; }
.bg-orange {border-color:orange; background:orange;}
.bg-purple {border-color:purple; background:purple; }
.bg-black {border-color:black; background: black; }
.bg-dark {border-color:#343a40;; background: #343a40;; }
.bg-pink {border-color:deeppink; background:deeppink; }
.bg-maroon {border-color:maroon; background:maroon; }
.bg-gray {border-color:gray; background:gray; }
.bg-chocolate {border-color:chocolate; background:chocolate;}
.bg-yellow{border-color:yellow; background:yellow; }
.bg-grayblue{border-color:#e9ecef; background:#e9ecef; }
.bg-slateblue{border-color:#6A5ACD; background:#6A5ACD; }
.bg-olive{border-color:#808000; background:#808000; }
.bg-steelblue{border-color:#4682B4; background:#4682B4; }


