/**
 * Content area
 */
.content {
    min-height: 100vh;
    background: url('../../img/background.jpg') no-repeat;
}





/**
 * Footer area
 */
footer {
    height: 150px;
    background: #f8f9fa;
}

